:root {
  --title-font: "Montserrat", sans-serif;
  --subtitle-font: "Poppins", sans-serif;
  --paragraph-font: "Nunito", sans-serif;
  --light-color: #e1f6f4;
  --dark-color: #07588a;
  --primary-color: #bfe9db;
  --accent-color: #6ac1b8;
}
