:root {
  --subtitle-font-family: "Montserrat", sans-serif;
  --title-font-family: "Poppins", sans-serif;
  --paragraph-font-family: "Nunito", sans-serif;
  --light-color: #e1f6f4;
  --dark-color: #07588a;
  --primary-color: #bfe9db;
  --accent-color: #6ac1b8;
}

.about-hero,
.recs-hero,
.todo-hero {
  padding: 180px 60px 110px 60px;
  line-height: 1.5;
}

.about-image {
  margin: 0 auto;
  display: block;
  border-radius: 10px;
}

.activeSlide,
.dot:hover {
  background-color: #717171;
}

.amenities-content {
  padding-bottom: 75px;
}

.amenities-content p {
  font-size: 20px;
  margin: 20px;
}

.amenities-content .title {
  margin-bottom: 45px;
}

.amenities-section {
  background-color: var(--light-color);
}

.amenities-section .house-icons {
  font-size: 35px;
  color: var(--dark-color);
}

.amenities-section .subtitle {
  font-family: var(--title-font-family);
  color: var(--dark-color);
  margin: 40px;
}

.bay-hero {
  background: -webkit-linear-gradient(
      rgba(47, 72, 88, 0.7),
      rgba(116, 154, 142, 0.6)
    ),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/086/378/original/baypuzzle2_edited-1.jpg?1687206456");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 270px 60px 200px 60px;
  line-height: 1.5;
}

.beach-hero {
  background: -webkit-linear-gradient(
      rgba(47, 72, 88, 0.7),
      rgba(116, 154, 142, 0.6)
    ),
    url("https://i.ibb.co/KWjNQvt/updated-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 270px 60px 200px 60px;
  line-height: 1.5;
}

.breakers-todo {
  margin: 75px;
}

.btn {
  font-size: 18px;
  margin: 15px;
  padding: 10px 20px;
  opacity: 0.7;
  font-family: var(--paragraph-font-family);
  border-radius: 10px !important;
  transition: all 100ms ease-in-out;
}

.btn-info {
  background-color: var(--dark-color) !important;
  color: var(--light-color);
  border: 1px solid var(--dark-color);
}

.btn-info:hover {
  background-color: var(--light-color) !important;
  color: var(--dark-color);
  border: 1px solid var(--dark-color);
}

.btn-light {
  background-color: var(--light-color) !important;
  color: var(--dark-color);
}

.btn-light:hover {
  background-color: var(--dark-color) !important;
  color: var(--light-color);
}

.cart-section,
.food-section {
  background-color: rgb(225, 246, 244, 0.4);
  padding: 60px 30px;
  border-radius: 10px;
  margin: 45px;
}

.cart-section,
.food-section,
.boat-section,
.other-section {
  margin: 45px;
}

.contact-page-icons {
  text-align: left;
}

.contact-page-icons a {
  text-decoration: none;
  color: var(--dark-color);
  transition: all 100ms ease-in-out;
}

.contact-page-icons a:hover,
.stay-section a:hover {
  color: var(--accent-color);
}

.contact-section {
  padding: 150px 60px 70px 60px;
}

.contact-text {
  font-size: 20px;
  font-family: var(--subtitle-font-family);
}

.directions-section {
  padding: 75px;
  margin: 50px;
}

.directions-section,
.info-section {
  background-color: rgb(7, 88, 138, 0.9);
}

.directions-section a {
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}

.directions-section a:hover {
  text-decoration: none;
}

.directions-section .title,
.directions-section .subtitle,
.directions-section p {
  color: var(--light-color);
}

.directions-section p {
  font-size: 20px;
  margin: 35px;
}

.direction-section .title {
  padding: 45px;
}

.down-arrow a {
  display: block;
  margin: 0 auto;
}

.down-arrow i {
  color: var(--light-color);
  background-color: var(--dark-color);
  opacity: 0.7;
  font-size: 60px;
  padding: 15px 30px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

.down-arrow i:hover {
  color: var(--dark-color);
  background-color: var(--light-color);
}

footer {
  background-color: rgb(225, 246, 244, 0.7);
  padding: 45px 15px;
  margin-top: 120px;
}

footer a,
footer li {
  text-decoration: none;
  color: var(--dark-color);
  font-family: var(--subtitle-font-family);
  font-size: 12px;
  transition: all 100ms ease-in-out;
}

footer a:hover {
  color: var(--accent-color);
}

footer p {
  font-family: var(--paragraph-font-family);
  font-size: 12px;
  opacity: 0.8;
  color: var(--dark-color);
  text-align: right;
}

footer p a {
  text-decoration: underline;
}

footer small {
  color: var(--dark-color);
  opacity: 0.7;
}

.footer-title {
  font-size: 18px;
  font-family: var(--subtitle-font-family);
  color: var(--dark-color);
}

.gallery-section {
  background-color: var(--dark-color);
  padding: 45px 0px;
  margin: 45px 0px 0px 0px;
}

.gallery-section a {
  color: var(--light-color);
}

.gallery-section a:hover {
  color: var(--accent-color);
  text-decoration: none;
}

.gallery-section iframe {
  margin-bottom: 50px;
}

.gallery-section p {
  color: var(--light-color);
  text-align: center;
}

.gallery-section .title {
  color: var(--light-color);
}

.header-content {
  padding: 0px 60px;
}

.hero {
  background: #749a8e;
  background: -webkit-linear-gradient(
      rgba(47, 72, 88, 0.7),
      rgba(116, 154, 142, 0.2)
    ),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/047/213/original/footprints_edited-4.jpg?1664567183");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 220px 60px 140px 60px;
  line-height: 1.5;
}

.hero h3 {
  font-family: var(--title-font-family);
  opacity: 0.9;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  margin: 5px 100px;
  background: rgb(255, 255, 255, 0.3);
  padding: 10px;
  border-radius: 30px;
}

.hero .title {
  -webkit-text-stroke: 2px var(--dark-color);
  text-shadow: 1px 1px 2px var(--dark-color);
  color: var(--light-color);
  font-size: 90px;
}

.highlighted-headline {
  -webkit-text-stroke: 1px var(--light-color);
}

.home-buttons,
.house-buttons {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.homepage-links {
  margin-bottom: 60px;
  margin-top: 45px;
}

.house-description {
  margin: 10px 80px;
  line-height: 30px;
  font-family: var(--paragraph-font-family);
  color: var(--dark-color);
}

.house-image {
  display: block;
  margin: 0 auto;
  border-radius: 15px;
}

.house-info,
.owner-story-section,
.amenities-section {
  padding: 70px 60px 50px 60px;
  line-height: 1.5;
}

.house-tagline {
  color: var(--dark-color);
  font-family: var(--title-font-family);
  font-size: 40px;
  -webkit-text-stroke: 1px var(--light-color);
  opacity: 0.7;
}

hr {
  border: 3px solid var(--dark-color);
}

iframe {
  margin: 0 auto;
  display: block;
}

.info-section {
  padding: 80px 50px;
  margin: 70px 30px;
}

.info-section a {
  margin: 0 auto;
  display: block;
  text-align: center;
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}

.info-section a:hover {
  text-decoration: none;
}

.info-section i {
  font-size: 60px;
  color: var(--light-color);
  margin: 0 auto;
  display: block;
  opacity: 0.9;
}

.info-section p {
  font-size: 18px;
  margin: 0px 20px;
}

.info-section .subtitle,
.info-section p,
.info-section .title {
  color: var(--light-color);
}

.info-section .subtitle {
  font-size: 25px;
}

.info-section .title {
  margin-top: 30px;
  margin-bottom: 65px;
}

.navbar {
  background: var(--light-color) !important;
  padding: 25px 0px !important;
}

.navbar-brand img {
  margin-left: 10px;
}

.nav-item a {
  color: var(--dark-color) !important;
  font-family: var(--title-font-family) !important;
  padding: 5px 30px !important;
  transition: all 100ms ease-in-out;
}

.nav-item a:hover {
  color: var(--accent-color) !important;
}

.nav-item .active {
  color: black !important;
}

.other-section,
.food-section,
.boat-section,
.cart-section {
  margin-top: 100px;
}

.owner-story-content {
  font-family: var(--paragraph-font-family);
  font-size: 18px;
  color: var(--dark-color);
  line-height: 1.7;
  margin: 30px 170px;
}

.owner-story-section {
  background: var(--light-color);
}

p {
  color: black;
  font-family: var(--paragraph-font-family);
  font-size: 18;
}

.recs-body {
  padding: 10px 20px;
}

.recs-body a,
.stay-section a {
  color: var(--dark-color);
}

.recs-body li a {
  margin: 0 auto;
  display: block;
  transition: all 100ms ease-in-out;
}

.recs-body a:hover,
.stay-section a:hover {
  text-decoration: none;
}

.recs-body h3,
.recs-body ul,
.recs-body .subtitle {
  color: var(--dark-color);
}

.recs-body h3 {
  font-family: var(--title-font-family);
  font-size: 45px;
}

.recs-body h4 {
  color: var(--dark-color);
  font-family: var(--subtitle-font-family);
}

.recs-body li a {
  line-height: 1.8;
}

.recs-body ul {
  list-style: none;
}

.recs-hero .title,
.recs-hero .subtitle {
  color: var(--dark-color);
}

.recs-hero .subtitle {
  margin: 0px 80px;
  opacity: 0.8;
}

.recs-subhero {
  padding: 20px 10px;
}

.recs-subhero .rec-item {
  padding: 20px 5px;
  background-color: var(--dark-color);
  color: var(--dark-color);
  border-radius: 14px;
  border: 2px solid var(--dark-color);
  opacity: 0.9;
  margin-top: 30px;
}

.recs-subhero .rec-item:hover {
  background-color: var(--accent-color);
}

.recs-subhero .rec-item a {
  text-decoration: none;
  transition: all 100ms ease-in-out;
  color: var(--light-color);
  opacity: 0.8;
}

.recs-subhero h4 {
  font-size: 18px;
}

.recs-subhero i {
  font-size: 28px;
}

.rental-properties {
  padding: 20px 40px;
  margin: 40px 0px;
}

.rental-properties p {
  line-height: 1.9;
}

#rental-properties,
#house-info,
#carts,
#boats,
#food,
#other-recs,
#activities,
#beach-stay,
#bay-stay,
#beach-hero,
#bay-hero {
  scroll-margin-top: 100px;
}

.stay-content .booking-info {
  font-size: 16px;
  opacity: 0.8;
}

.stay-content i {
  color: var(--dark-color);
}

.stay-content p {
  font-size: 20px;
}

.stay-section {
  margin: 120px 300px;
}

.stay-section .subtitle {
  margin-top: 35px;
}

.stay-section .title {
  margin: 60px;
}

.subtitle {
  font-family: var(--subtitle-font-family);
  color: var(--dark-color);
  font-size: 28px;
  line-height: 1.3;
}

.tagline {
  font-family: "Cedarville Cursive", cursive;
  color: var(--dark-color);
  opacity: 0.9;
  word-spacing: 5px;
  margin: 20px 0px 30px 0px;
}

.team-section {
  margin-bottom: 95px;
}

.team-section .title {
  margin-top: 75px;
  margin-bottom: 75px;
}

.title {
  font-size: 75px;
  opacity: 0.8;
  color: var(--dark-color);
  font-family: var(--title-font-family);
}

.todo-hero {
  background-color: var(--dark-color);
}

.todo-hero .title,
.todo-hero .subtitle {
  color: var(--light-color);
}

.todo-hero .down-arrow i {
  color: var(--dark-color);
  background-color: var(--light-color);
}

.todo-hero .down-arrow i:hover {
  color: var(--light-color);
  background-color: var(--dark-color);
  border: 1px solid var(--light-color);
}

.todo-recs {
  margin: 10px 120px;
}

.todo-recs h5 {
  font-family: var(--paragraph-font-family);
  color: var(--dark-color);
  font-size: 16px;
  opacity: 0.8;
  margin-bottom: 35px;
}

.todo-recs .subtitle {
  margin-top: 65px;
  margin-bottom: 15px;
}

.mySlides {
  display: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

.mySlides img {
  border-radius: 10px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: all 100ms ease-in-out;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

/* Caption text and number text */
.text,
.numbertext {
  font-family: "Poppins", sans-serif;
  position: absolute;
  padding: 8px 12px;
}

.numbertext {
  font-size: 12px;
  top: 0;
  color: #e1f6f4;
  opacity: 0.8;
}

.text {
  font-size: 30px;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background: rgb(255, 255, 255, 0.7);
  color: var(--dark-color);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* On smaller screens, decrease text size */
@media (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

@media (max-width: 920px) {
  .amenities-content p {
    margin: 0px 150px;
    font-size: 16px;
  }

  .btn-light {
    margin: 5px;
    font-size: 14px;
    padding: 10px 20px;
  }

  .hero h3 {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
    margin: 5px 10px;
    padding: 10px;
    border-radius: 30px;
  }

  .info-section i {
    font-size: 40px;
    padding-top: 20px;
  }

  .owner-story-content {
    margin: 30px 70px;
  }

  .owner-story-section,
  .house-info,
  .amenities-section {
    padding: 10px;
  }

  .stay-section {
    margin: 0px 20px;
  }

  .subtitle {
    font-size: 20px;
  }

  .title,
  .hero .title {
    font-size: 55px;
  }
}

@media (max-width: 576px) {
  .about-image {
    width: 200px;
  }

  .amenities-section .title {
    margin-bottom: 5px;
    margin-top: 20px;
  }

  .btn-light {
    font-size: 15px;
    margin: 0px 50px;
    padding: 10px 20px;
    display: block;
  }

  .directions-section {
    max-width: 500px;
    margin: 0px;
  }

  .directions-section p {
    font-size: 16px;
    margin: 20px 10px 0px 10px;
  }

  .header-content {
    margin: 50px 10px;
    padding: 0px 20px;
  }

  .header-content p {
    font-size: 16px;
    text-align: center;
  }

  .hero h3 {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.2;
    margin: 5px 10px;
    padding: 10px;
    border-radius: 30px;
  }

  .hero,
  .about-hero,
  .todo-hero,
  .contact-section {
    padding: 120px 30px 50px 30px;
    line-height: 1;
  }

  .house-content .title {
    margin-bottom: 35px;
  }

  .house-description {
    margin: 10px 20px;
  }

  .house-tagline {
    display: none;
  }

  .info-section {
    padding: 20px 10px;
    margin: 70px 30px;
  }

  .info-section i {
    font-size: 40px;
    padding-top: 20px;
  }

  .info-section p {
    font-size: 15px;
  }

  .info-section .title {
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .local-businesses p {
    margin: 10px 20px;
  }

  .other-section {
    padding: 10px 5px 50px 5px;
  }

  .other-section .title {
    font-size: 30px;
  }

  .owner-story-content {
    margin: 10px;
    font-size: 14px;
  }

  .owner-story-section,
  .house-info,
  .amenities-section {
    padding: 10px;
  }

  .recs-body {
    padding: 10px 0px;
  }

  .recs-hero,
  .contact-section {
    padding: 180px 5px 50px 5px;
  }

  .recs-hero .subtitle,
  .contact-section .subtitle,
  .todo-hero .subtitle {
    font-size: 25px;
  }

  .recs-hero .title,
  .contact-section .title,
  .todo-hero .title {
    font-size: 45px;
  }

  .stay-content .booking-info {
    font-size: 14px;
  }

  .stay-content p {
    font-size: 18px;
  }

  .stay-section,
  .amenities-content p {
    margin: 0px 20px;
  }

  .subtitle {
    font-size: 30px;
    line-height: 1;
  }

  .team-section .title {
    margin-bottom: 35px;
  }

  .title,
  .hero-title {
    font-size: 50px;
    text-align: center;
  }

  .house-info {
    padding: 70px 60px 50px 60px;
    line-height: 1.5;
  }
}
